<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hi! I'm Hari</title>
    <!-- swiper css -->
    <link rel="shortcut icon" href="images\favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css">
    <script src="https://kit.fontawesome.com/c1b3701aff.js" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="css//styles.css">
</head>

<body>
    <div id="darken" style="display: block;"></div>

    <!-- Header design-->
    <header class="header">
        <a href="/" class="logo" id="logo">PortFolio</a>
        <i class='bx bx-menu' id="menu-icon"></i>
    </header>
    <div class="navbar-items-container" id="navbar-items-container">
        <div class="navbar">
            <h1>Move To</h1>
            <a onclick="toggleMenu()" href="#home">Home</a>
            <a onclick="toggleMenu()" href="#about">About</a>
            <a onclick="toggleMenu()" href="#experience">Experience</a>
            <a onclick="toggleMenu()" href="#services">Services</a>
            <a onclick="toggleMenu()" href="#projects">Projects</a>
            <a onclick="toggleMenu()" href="#achievements">Achievements</a>
            <a onclick="toggleMenu()" href="#contact">Contact</a>
        </div>
    </div>

    <section class="home" id="home">
        <div class="home-content">
            <h3>Hello I'm</h3>
            <h1>Hariharaan S</h1>
            <p>Ex-Intern@ProjectSense || Final year Student at St. Joseph's College of Engineering</p>
            <p>Full Stack Developer||SIH'22 Finalist||<br>Machine Learning Endhusiastic</p>

            <div class="social-media">
                <a href="https://twitter.com/s_hariharaan" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="https://github.com/Hariharaan-S" target="_blank"><i class="fa-brands fa-github"></i></a>
                <a href="https://www.linkedin.com/in/hariharaan-s-ba9242233/" target="_blank"><i
                        class="fa-brands fa-linkedin"></i></a>
            </div>
            <a href="Resume Hariharaan S.pdf" class="btn" download>Download CV</a>
        </div>
        <div class="profession-container">
            <div class="profession-box">
                <div class="profession" style="--i:0;">
                    <i class="fa-solid fa-code"></i>
                    <h3>Web Developer</h3>
                </div>
                <div class="profession" style="--i:1;">
                    <i class="fa-brands fa-react"></i>
                    <h3>React Developer</h3>
                </div>
                <div class="profession" style="--i:2;">
                    <i class="fa-brands fa-node-js"></i>
                    <h3>Node Developer</h3>
                </div>
                <div class="profession" style="--i:3;">
                    <i class="fa-solid fa-music"></i>
                    <h3>Vocal Singer</h3>
                </div>

                <div class="circle"></div>
            </div>

            <div class="overlay"></div>
        </div>
        <div class="work_img">
            <img src="images//work.svg" alt="" srcset="">
        </div>

    </section>


    <!-- about section -->
    <section class="about" id="about">
        <div class="about-content">
            <h2 class="heading">About <span>Me</span></h2>
            <h3>Hi, I am here to help you out</h3>
            <p>I am Hariharaan, a penultimate-year student at St. Joseph's College of Engineering with a CGPA of 9.24.
                Passionate about Full Stack Development, I was member of "Unique Coders" and was a Finalist in the
                Smart India Hackathon 2022. I've interned as a Full-stack Developer at ProjectSense Org, focusing on
                creating seamless user interfaces and back-end solutions. Active in hackathons like VIT Chennai Cyber
                Hackathon, I am committed to advancing as a Full Stack Developer.
            </p>
        </div>
    </section>

    <!-- Experience Section Design-->
    <section class="experience" id="experience">
        <h2 class="heading">My <span>Experience</span></h2>
        <div class="experience-container">
            <div class="experience-box">
                <img class="intern_logo" src="images\\intern1_logo.jpeg" alt="" srcset="">
                <div class="experience-description">
                    <h3>Intern - Backend, Microservices and Frontend Development</h3>
                    <p>ProjectSense Org, Dec 2023 - Jan 2024</p>
                    <p>Had a rewarding experience serving as a Full-Stack Developer Intern at the prestigious company
                        'ProjectSense.' During this time, I immersed myself in learning a diverse range of web
                        technologies and successfully contributed to the development of a product that met specified
                        requirements.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- service section design -->
    <section class="services" id="services">
        <h2 class="heading">My <span>Services</span></h2>
        <div class="services-container">
            <div class="services-box">
                <i class="fa-solid fa-code"></i>
                <h3>Web Development.</h3>
                <p>Involves crafting websites and web applications through front-end design, back-end
                    programming, and technology integration. Employ HTML, CSS, JavaScript, and server-side
                    languages to create user-friendly, responsive online experiences.</p>
                <a href="/services/Web Development" class="btn">Read More</a>
            </div>
            <div class="services-box">
                <i class="fa-solid fa-laptop"></i>
                <h3>ML Development.</h3>
                <p>
                    Machine learning (ML) development is the process of designing, training, and deploying machine
                    learning models and algorithms. Work with data to create predictive, classification,
                    or clustering models, enabling systems to make data-driven decisions.</p>
                <a href="/services/ML Development" class="btn">Read More</a>
            </div>
            <div class="services-box">
                <i class="fa-solid fa-tv"></i>
                <h3>Competitive Coder.</h3>
                <p>Highly skilled in Java's object-oriented features, with a track record of solving numerous complex
                    problems on platforms like Hackerrank and LeetCode. Eager to continue pushing boundaries and
                    mastering advanced Java development to tackle challenges.</p>
                <a href="/services/Competitive Coder" class="btn">Read More</a>
            </div>
        </div>
    </section>

    <!-- portfolio projects design -->
    <section class="portfolio" id="projects">
        <h2 class="heading">Latest <span>Project</span></h2>
        <div class="portfolio-container">
            <div class="portfolio-box">
                <img src="images\\Social_Media_Monitoring_Tool.png" alt="">

                <div class="portfolio-layer social_media">
                    <h4>Social Media Monitoring</h4>
                    <p>Safeguarding online integrity by identifying and
                        reporting false and violation-inducing messages, making social media a safer place.</p>

                    <a href="/projects/Social Media Monitoring Tool"><i
                            class="fa-solid fa-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="portfolio-box">
                <img src="images\\trashtriage.png" alt="">

                <div class="portfolio-layer trashtriage">
                    <h4>TrashTriage</h4>
                    <p>TrashTriage is a groundbreaking project dedicated to waste classification and eco-friendly
                        recycling guidance. It employs innovative technology to identify waste types and provide
                        sustainable disposal methods.</p>

                    <a href="/projects/Trash_Triage"><i class="fa-solid fa-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="portfolio-box">
                <img src="images\\BotonAI.png" alt="">

                <div class="portfolio-layer botonai">
                    <h4>BotonAI</h4>
                    <p>Introducing BotonAI: A medicinal plant authenticity checker, swiftly identifying fakes and
                        generating comprehensive reports for informed decision-making.</p>

                    <a href="/projects/Boton AI"><i class="fa-solid fa-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="portfolio-box">
                <img src="images\\taskflow.png" alt="">

                <div class="portfolio-layer taskflow">
                    <h4>TaskFlow</h4>
                    <p>Experience the beauty of simplicity with TaskFlow, the minimalist task management tool designed
                        to help you stay organized and productive.</p>

                    <a href="/projects/TaskFlow - A Task Management App"><i
                            class="fa-solid fa-up-right-from-square"></i></a>
                </div>
            </div>
        </div>
    </section>

    <!-- achievements design -->
    <section id="achievements" class="testimonial-container">
        <h2 class="heading">My <span>Achievements</span></h2>
        <div class="testimonial-wrapper">
            <div class="testimonial-box mySwiper">
                <div class="testimonial-content swiper-wrapper">
                    <div class="testimonial-slide swiper-slide">
                        <img width="80%" height="80%" src="images\\SIH 2022.png" alt="">
                        <h3>Finalist in SIH 2022</h3>
                        <p>Being a finalist in SH 2022 was a transformative journey. The intense competition pushed me
                            to excel, fostering resilience and determination. Interacting with like-minded individuals
                            broadened my horizons, fostering lifelong friendships. The experience instilled in me the
                            value of perseverance and the importance of embracing challenges as opportunities for
                            growth.</p>
                    </div>
                    <div class="testimonial-slide swiper-slide">
                        <img src="images\\cyberx.jpeg" alt="">
                        <h3>Finalist in CyberX Hackathon -VIT Chennai in collaboration with Greater Chennai Corporation
                        </h3>
                        <p>My team has recently shortlisted in the top 50 teams among 450+ teams across India, for the
                            CyberX HACKATHON, a two-day hackathon organized by Greater Chennai Police and VIT Chennai
                            This hackathon provided a great insights of the various problems and issues faced by our
                            Police Department in terms of Cyber Attack.
                            It was a great opportunity to participate and learn from other talented developers.</p>
                    </div>
                    <div class="testimonial-slide swiper-slide">
                        <img src="images\\hacktopia.jpg" alt="">
                        <h3>Finalist in Hacktopia Hackathon -GNI University</h3>
                        <p>Becoming a finalist at Hacktopia 2022 was a pivotal experience. The fierce competition drove
                            me to excel, nurturing my resilience and determination. Collaborating with like-minded peers
                            expanded my horizons and forged lasting connections. This journey emphasized the
                            significance of perseverance and the transformational potential within challenges.</p>
                    </div>
                    <div class="testimonial-slide swiper-slide">
                        <img src="images\\CSI Award.jpg" alt="">
                        <h3>Best Innovative Student Award 2024 - CSI Kanchipuram Chapter</h3>
                        <p>Delighted to be honored with the Best Innovation Project Award by the Computer Society of
                            India, Kancheepuram Chapter!
                            🏆A special thanks to our CSI coordinator, <b>K.R.RAGHI NAIR</b> mam, whose dedication and
                            guidance propelled me.
                            Her visionary leadership and passion for innovation inspire me to excel.
                            Thank you for being an exceptional mentor and believing in my potential every step of the
                            way!</p>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>

    <!-- contact section design -->
    <section class="contact" id="contact">
        <div class="form">
            <form onsubmit="sendMail()">
                <h2 class="heading">Contact <span>Me!</span></h2>
                <div class="input-box">
                    <input type="text" placeholder="Full Name" name="name" id="name">
                    <input type="email" placeholder="Email Address" name="email" id="email">
                </div>
                <div class="input-box">
                    <input type="number" placeholder="Mobile Number" name="phone" id="phone">
                    <input type="text" placeholder="Email Subject" name="subject" id="subject">
                </div>
                <textarea name="message" id="message" cols="30" rows="10" placeholder="Your Message"></textarea>
                <input type="submit" value="Send Message" id="submit_btn" class="btn">
            </form>
        </div>
    </section>

    <!-- footer-design -->
    <footer class="footer">
        <div class="footer-text">
            <p>Copyright &copy; 2023 by Hariharaan S | All rights reserved</p>
        </div>
        <div class="footer-iconTop">
            <a href="#home"><i class="fa-solid fa-arrow-up"></i></a>
        </div>
    </footer>


    <!-- scroll reveal -->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!-- swiper js -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <!-- Send Mail using SMTP.js -->
    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <!-- ------------- -->
    <!-- Sweetalert2 for mesage dialog box -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="js\\index.js"></script>
</body>

</html>