<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= name %></title>
    <link rel="stylesheet" href="css/projects.css">
</head>
<body>
    <section id="prjects_head">
        <div class="heading">
            <%= name %>
        </div>
        <div class="sub-heading">
            <%= content %>
        </div>
        <div class="overlay"></div>
        <div class="bg-image">
            <img src="images/<%= name %>.png" alt="" srcset="">
        </div>
    </section>
</body>
</html>