<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= name %></title>
    <script src="https://kit.fontawesome.com/c1b3701aff.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <link rel="stylesheet" href="css//services.css">
</head>

<body>
    <nav class="navbar">
        <button type="button" onclick="goToHome()">Back</button>
        <ul class="navbal-list">
            <li class="navitem"><a href="#about_services">About</a></li>
            <li class="navitem"><a href="#services_course">Courses</a></li>
            <li class="navitem"><a href="#services_project">Projects</a></li>
        </ul>
    </nav>
    <section class="main_section">
        <section id="about_services">
            <h2 class="heading">About <span><%= name %></span></h2>
            </h2>
            <div class="about_para">
                <%= about %>
            </div>
        </section>
        <section id="services_course">
            <h2>Courses I did:</h2>
        </section>
        <section id="services_project">
            <h2>Projects I Did:</h2>
        </section>
    </section>
</body>
<script>
    function goToHome(){
        window.location.href = "/";
    }
</script>

</html>