@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins',sans-serif;
}

:root{
    --bg-color: #fdfdff;
    --text-color: #333;
    --main-color: #754ef9;
    --white-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, 0.2);
}
.heading,.sub-heading{
    width: 100%;
    position: absolute;
    z-index: 2;
    color: white;
    font-size: 5rem;
    top: 6rem;
    text-align: center;
}
.sub-heading{
    font-size: .9rem;
    color: rgb(219, 218, 218);
    top: 13rem;
    width: 100%;
    text-align: center;
}

span{
    color: #5272F2;
}

.overlay{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 22rem;
    background: rgb(0, 0, 0,0.5);
}

.bg-image{
    background: red;
    width: 100%;
    height: 22rem;
    position: relative;
}
.bg-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#know_more{
    position: absolute;
    top: 18rem;
    left: .5rem;
    padding: 1% 5%;
    background: #FFFBF5;
    color: black;
    border: 1px solid #FFFBF5;
    border-radius: 10px;
    z-index: 2;
    cursor: pointer;
    transition: ease-in .3s;
}
#know_more:hover{
    border: 1px solid #FFFBF5;
    background: none;
    color: #fffbf5;
}
.project_head{
    position: relative;
    margin: 5% 2%;
}
#description .desc-part{
  position: relative;
  margin: 3rem 2rem;
}

#description .desc-part:nth-child(1){
  margin-top: -2rem;
}

#description .heading{
  font-size: 2.5rem;
  text-align: start;
  position:relative;
  color: black;
}

/* body {
	height: 400vh;
  background: black;
  color: white;
}




.header-section {
  margin: 100px auto 0;
}

svg {
  max-width: 600px;
  overflow: visible;
  margin-top: 60vh;
}

.ball {
  fill: white;
  visibility: hidden;
}

.line {
  fill: none;
  stroke: white;
  stroke-width: 2px;
}
text {
  fill: white;
  font-size: 15px;
  font-family: "Signika Negative", sans-serif; 
  visibility: hidden;
} */
