@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #0F0E0E;
  --text-color: #fdfdfd;
  --main-color: #754ef9;
  --white-color: #fdfdfd;
  --box-color: #1E201E;
  --shadow-color: rgba(0, 0, 0, 0.2);
}

/* .darkmode {
  --bg-color: #0b061f;
  --text-color: #fdfdfd;
  --shadow-color: rgba(0, 0, 0, 0.7);
} */

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

.darken-the-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #000000;
  opacity: 0.6;
  z-index: 100;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 2rem 1%;
  background-color: transparent;
  display: flex;
  align-items: center;
  z-index: 103;
  transition: 0.5s;
}

.header.sticky {
  background: var(--box-color);
  box-shadow: 0 0.1rem 1rem var(--shadow-color);
}

.logo {
  font-size: 2.5rem;
  color: var(--main-color);
  font-weight: 600;
  cursor: default;
  margin-right: auto;
  cursor: pointer;
}

.display-menu {
  display: flex;
}

.navbar-items-container .navbar {
  background-color: var(--bg-color);
  position: relative;
  width: 100%;
  height: max-content;
  display: flex;
  box-shadow: 0 0.1rem 1rem var(--shadow-color);
  transition: 0.5s ease;
}

.navbar a {
  position: relative;
  font-size: 1.7rem;
  color: var(--main-color);
  font-weight: 500;
  transition: 0.5s ease;
  padding: 1.5rem 2.5rem;
}

.navbar h1 {
  font-size: 2rem;
  color: var(--main-color);
  font-weight: 800;
  position: relative;
  padding: 1.5rem 2.5rem;
}

.navbar a:hover {
  background-color: var(--main-color);
  color: var(--white-color);
}

.header.sticky .navbar a {
  color: var(--text-color);
}

.header.sticky .navbar a.active {
  color: var(--main-color);
}

.navbar a.active::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 0.2rem;
  background: var(--white-color);
}

.header.sticky .navbar a::before {
  background: var(--main-color);
  opacity: 0.7;
}

.header .sticky #darkMode-icon {
  background: var(--text-color);
  opacity: 0.9;
}

#menu-icon {
  font-size: 3.5rem;
  margin-top: -0.5rem;
  cursor: pointer;
  color: var(--main-color);
}

#menu-icon.change-color {
  color: var(--main-color);
}

section {
  position: relative;
  top: 0;
  min-height: 70vh;
  padding: 15rem 7% 0rem;
}

.profile-image-container {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 36.2%;
  left: 16%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
  background-color: white;
  z-index: -1;
}

.profile-overlay {
  width: 450px;
  height: 450px;
  position: absolute;
  top: 33%;
  left: 12.8%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
  border: 7px solid #754ef9;
  transition: box-shadow 0.5s ease;
  z-index: 10;
}

.profile-overlay:hover {
  box-shadow:
    0 0 25px var(--main-color),
    0 0 45px var(--main-color),
    0 0 65px var(--main-color);
}



.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.about-me-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
}


.about-me-image-container {
  width: 400px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 20rem;
  box-shadow:
    0 0 25px var(--main-color),
    0 0 35px var(--main-color);
}

.about-me-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-me-content {
  position: relative;
  margin-bottom: 22%;
  max-width: 1000px;
}


.home {
  display: flex;
  align-items: center;
}

.home .home-content {
  max-width: 70rem;
  position: relative;
  margin-top: 17rem;
}

.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 0.3;
}

.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  margin-bottom: 0.3rem;
}

.home-content .sub-head {
  font-size: 1.8rem;
  color: var(--text-color);
}


.home-content .social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
  font-size: 2rem;
  color: var(--main-color);
  margin: 2.5rem 1.5rem 3rem 0;
  transition: 0.5s ease;
}

.home-content .social-media a:hover {
  background: var(--main-color);
  color: var(--white-color);
}

.btn {
  display: inline-block;
  padding: 1.2rem 2.8rem;
  background: var(--main-color);
  border-radius: 0.6rem;
  box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
  color: var(--white-color);
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  border: 0.2rem solid transparent;
  font-weight: 600;
  transition: 0.5s ease;
}

.btn:hover {
  background: transparent;
  color: var(--main-color);
  border-color: var(--main-color);
}

.home .profession-container {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 768px;
  height: 768px;
  overflow: hidden;
}

.home .profession-container .profession-box {
  position: absolute;
  top: 0;
  right: 0;
  width: 768px;
  height: 768px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: professionRotate 13s ease-out infinite;
}

@keyframes professionRotate {

  0%,
  20% {
    transform: rotate(0deg);
  }

  25%,
  45% {
    transform: rotate(-90deg);
  }

  50%,
  70% {
    transform: rotate(-180deg);
  }

  75%,
  95% {
    transform: rotate(-270deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.home .profession-box .profession {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--main-color);
  transform: rotate(calc(360deg / 4 * var(--i)));
  transform-origin: 384px;
  background: var(--bg-color);
  padding: 13px 0;
}

.home .profession-box .profession:nth-child(1) i {
  margin-right: 15px;
}

.home .profession-box .profession:nth-child(2),
.home .profession-box .profession:nth-child(4) {
  padding-bottom: 20px;
}

.home .profession i {
  font-size: 3.8rem;
}

.home .profession h3 {
  font-size: 3.2rem;
  line-height: 1;
  font-weight: 600;
}

.home .profession-box .circle {
  width: 560px;
  height: 560px;
  border: 3px solid var(--main-color);
  background: transparent;
  border-radius: 50%;
}

.home .profession-container .overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 384px solid var(--main-color);
  border-right: 384px solid var(--main-color);
  border-bottom: 384px solid var(--main-color);
  border-left: 384px solid transparent;
}

.home_img p {
  position: absolute;
  font-size: 5rem;
  font-family: "Tangerine", cursive;
  font-weight: 400;
  top: 120px;
  bottom: 0;
  right: -150px;
  width: 736px;
  pointer-events: none;
  text-align: center;
  color: var(--white-color);
}

.work_img {
  position: absolute;
  width: 25%;
  height: 52vh;
  border: 5px solid var(--main-color);
  background: var(--white-color);
  border-radius: 50%;
  margin-left: 990px;
  margin-bottom: 40px;
}

.work_img img {
  width: 70%;
  height: 60vh;
  position: relative;
  margin-top: -19px;
  margin-left: 50px;
  pointer-events: none;
}

span {
  color: var(--main-color);
}

.about {
  margin-top: 7rem;
}

.about-content {
  position: relative;
  margin-top: 5rem;
  padding: 4rem 0;
}

.about-img img {
  width: 40vw;
}

.heading {
  font-size: 4.5rem;
  text-align: center;
}

.about-content h2 {
  line-height: 1.2;
}

.about-content h3 {
  font-size: 2rem;
}

.skills-table-container {
  display: flex;
  flex-direction: row;
  column-gap: 4rem;
}

table td {
  padding-top: 3rem;
  padding-left: 3rem;
}

table h2 {
  font-size: 1.7rem;
}

.star {
  font-size: 1.2rem;
  color: yellow;
}

.about-content p {
  font-size: 1.2rem;
  margin: 2rem 0 3rem;
  line-height: 2.4rem;
  text-align: justify;
}

.experience {
  width: 100%;
  margin-top: -8rem;
  padding: 0 2rem !important;
}

.experience-container {
  position: relative;
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  row-gap: 3rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.experience-container .experience-box {
  display: flex;
  flex-direction: row;
  width: 90%;
  background: var(--box-color);
  padding: 3rem 4rem;
  border-radius: 2rem;
  box-shadow: 0 0.1rem 0.5rem var(--shadow-color);
  border-top: 0.6rem solid var(--main-color);
  border-bottom: 0.6rem solid var(--main-color);
  transition: 0.5s ease;
  z-index: 10;
}

.experience-container .experience-box:hover {
  transform: scale(1.01, 1.01);
  box-shadow: 0 0 0 #754ef9,
    0 0 2px #754ef9,
    0 0 5px #754ef9,
    0 0 15px #754ef9,
    0 0 25px #754ef9;
}

.experience-box img {
  width: 100px;
  height: 100px;
  padding: 10px;
}

.experience-box h3 {
  font-size: 2.6rem;
  transition: 0.5s ease;
  cursor: pointer;
}

.experience-box h3:hover {
  color: var(--main-color);
}

.experience-box p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}

.services {
  min-height: 100vh;
  margin-top: 20rem;
  padding-bottom: 7rem;
}

.services h2 {
  margin-bottom: 5rem;
}

.services .services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.services-container .services-box {
  overflow: hidden;
  width: auto;
  height: 400px;
  flex: 1 1 28rem;
  background: var(--box-color);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  box-shadow: 0 0.1rem 0.5rem var(--shadow-color);
  text-align: center;
  border-top: 0.6rem solid var(--main-color);
  border-bottom: 0.6rem solid var(--main-color);
  transition: 0.5s ease;
}

.services-container .services-box:hover {
  transform: scale(1.03, 1.03);
  box-shadow: 0 0 0 #754ef9,
    0 0 2px #754ef9,
    0 0 5px #754ef9,
    0 0 15px #754ef9,
    0 0 25px #754ef9;
}

.services-box i {
  font-size: 7rem;
  overflow: hidden;
  color: var(--main-color);
}

.services-box h3 {
  font-size: 2.6rem;
  transition: 0.5s ease;
  cursor: pointer;
}

.services-box h3:hover {
  color: var(--main-color);
}

.services-box p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}

.portfolio {
  margin-top: 35rem;
  padding: 2rem 3rem !important;
}

.project-content {
  display: flex;
  flex-direction: row;
  margin-top: 5rem;
  column-gap: 3rem;
  padding: 0 8rem;
}

.project-slide .project-logo-container {
  position: relative;
  width: 300px;
  height: 600px;
  border-radius: 20px;
  cursor: pointer;
  transition: .5s ease;
}

.project-slide .project-logo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  transition: transform 0.4s ease;
  /* Added transition */
}

.project-slide .project-box {
  position: absolute;
  bottom: 0;
  width: 300px;
  height: 0px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  background: linear-gradient(rgba(0, 0, 0, 0.6), var(--main-color));
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
}

.project-logo-container:hover .project-box {
  visibility: visible;
  opacity: 1;
  height: 600px;
}

.project-slide.show .project-box {
  opacity: 1;
  visibility: visible;
  height: 500px;
}

.project-box h4 {
  font-size: 3rem;
  text-align: center;
}

.project-box p {
  font-size: 1.5rem;
  text-align: center;
}

.project-box a {
  font-size: 2rem;
  color: var(--white-color);
}

.project-nav {
  margin-top: 10rem;
}

.testimonial-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 0 1rem;
  margin-top: 30rem;
}

.testimonial-container .heading {
  padding: 2rem;
  margin-top: 10rem;
}

.testimonial-container .testimonial-wrapper {
  position: relative;
  width: 100%;
  padding: 5rem;
}

.testimonial-wrapper .testimonial-box {
  padding: 1rem;
  border-radius: 2rem;
  overflow: hidden;
  height: 57rem;
}

.testimonial-container .testimonial-slide {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--box-color);
  border-radius: 2rem;
  box-shadow: 0 0.1rem 0.5rem var(--shadow-color);
  padding: 3rem 5rem;
  border-top: 0.8rem solid var(--main-color);
  border-bottom: 0.8rem solid var(--main-color);
}

.testimonial-slide img {
  width: 74rem;
  height: 30rem;
  object-fit: cover;
  border-radius: 10px;
  border: 0.5rem solid var(--bg-color);
  outline: 0.5rem solid var(--main-color);
}

.testimonial-slide h3 {
  font-size: 2.5rem;
  margin: 2rem 0;
}

.testimonial-slide p {
  font-size: 1.4rem;
  text-align: center;
}

.testimonial-box .swiper-button-next,
.testimonial-box .swiper-button-prev {
  color: var(--main-color);
}

.testimonial-box .swiper-button-next {
  right: 0;
}

.testimonial-box .swiper-button-prev {
  left: 0;
}

.testimonial-box .swiper-pagination-bullet {
  background: rgba(46, 46, 46, 0.8);
}

.testimonial-box .swiper-pagination-bullet-active {
  background: var(--main-color);
}

.contact {
  margin-top: 20rem;
}

.contact h2 {
  margin-bottom: 3rem;
}

.contact .form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  padding: 0 0 2rem 0;
  /* margin-bottom: 3rem; */
}

.contact .form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact .form .input-box input,
.contact .form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: var(--box-color);
  border-radius: 0.8rem;
  margin: 0.7rem 0;
  box-shadow: 0 0.1rem 0.5rem var(--shadow-color);
}

.contact .form .input-box input {
  width: 49%;
}

.contact .form textarea {
  resize: none;
}

.contact .form .btn {
  margin-top: 2rem;
  cursor: pointer;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 7%;
  background: var(--box-color);
}


.footer-text p {
  font-size: 1.6rem;
  color: var(--white-color);
}

.footer-iconTop a {
  display: inline-flex;
  justify-content: center;
  padding: 0.8rem;
  background: var(--white-color);
  border-radius: 0.8rem;
  border: 0.2rem solid var(--main-color);
  outline: 0.2rem solid transparent;
  transition: 0.5s ease;
}

.footer-iconTop a:hover {
  outline-color: var(--white-color);
}

.footer-iconTop a i {
  font-size: 2.4rem;
  color: #333;
}

/* BREAKPOINTS */
@media (max-width: 1366px) {
  * {
    overflow-x: hidden;
  }

  section {
    height: 100%;
  }

  .navbar-items-container {
    width: 100vh;
    height: 120%;
  }

  .navbar-items-container .navbar {
    row-gap: .5rem;
  }

  .home .home-content {
    max-width: 40rem;
    height: 100vh;
    position: relative;
    margin-top: -3rem;
  }

  .home-content {
    max-width: auto;
    padding-top: 12rem;
  }

  .profession-container {
    position: absolute;
    height: 60rem;
  }

  .profession i,
  .profession h3,
  section,
  .about-content h2 {
    overflow: hidden;
  }

  .home-content h3 {
    overflow: hidden;
    font-size: 3.7rem;
    line-height: 1;
  }

  .home-content h1 {
    font-size: 4.5rem;
  }

  .home-content p {
    font-size: 1.5rem;
  }

  .navbar-items-container {
    position: fixed;
    width: 42%;
    margin-left: 55%;
  }

  .home_img img {
    height: 682px;
  }

  .about {
    position: relative;
  }

  .portfolio-box .portfolio-layer {
    padding: 4px;
  }

  .work_img {
    position: absolute;
    width: 27%;
    height: auto;
    top: 20%;
    right: 7%;
  }

  .work_img img {
    position: relative;
  }

  .experience-container {
    padding: 2rem;
  }

  .experience .experience-description {
    max-width: 80%;
  }

  .experience-container .experience-box:hover {
    transform: scale(1.02);
    overflow-y: hidden;
  }

  .services {
    padding: 25rem 7rem;
  }

  .services-container {
    padding: 1rem;
  }

  .services-container .services-box:first-child {
    min-height: 47rem;
  }

  .portfolio {
    padding: 15rem 7rem;
    min-height: max-content;
  }

  .portfolio-container {
    padding: 3rem;
  }

  .testimonial-container {
    min-height: max-content;
  }

  .testimonial-slide {
    min-height: 10%;
  }

  .testimonial-slide h3,
  .testimonial-slide p {
    width: fit-content;
    height: fit-content;

  }

  .contact {
    padding: 15rem 7rem;
  }

  .footer {
    max-height: 5%;
  }

  .footer-iconTop a:hover {
    outline-color: var(--white-color);
  }

  .footer-iconTop a i {
    font-size: 2.2rem;
    color: #333;
  }
}

@media (max-width: 1300px) {
  html {
    font-size: 55%;
  }

  .home .profession-container .profession-box {
    right: -12rem;
    height: 85.8rem;
  }

  .home .profession-container .overlay {
    right: -9rem;
  }

  .home_img img {
    height: 693px;
  }
}

@media (max-width: 1024px) {
  .header {
    padding: 2rem 3%;
  }

  section {
    padding: 10rem 3% 2rem;
  }

  .home .profession-container .profession-box {
    right: -22rem;
  }

  .home .profession-container .overlay {
    right: -15rem;
  }
}

@media (max-width: 991px) {

  .navbar a:nth-child(1),
  .navbar a:nth-child(2) {
    color: var(--main-color);
    opacity: 0.7;
  }

  .navbar a.active::before {
    background: var(--main-color);
  }

  .home .home-content {
    max-width: 50rem;
  }

  .home .profession-container .profession-box {
    right: -45rem;
  }

  .home .profession-container .overlay {
    right: -39.5rem;
  }

  .home_img img {
    display: none;
  }

  .services,
  .portfolio {
    padding-bottom: 7rem;
  }

  .contact {
    min-height: auto;
  }

  .footer {
    padding: 2rem 3%;
  }
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
    color: var(--main-color);
  }

  #darkMode-icon {
    position: absolute;
    right: 7rem;
    font-size: 2.6rem;
    color: var(--text-color);
    margin-bottom: 0.1rem;
  }

  .navbar-items-container {
    width: 70%;
    height: 100%;
    margin-left: 12rem;
    position: absolute;
    overflow-y: hidden;
    row-gap: .3rem;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    display: none;
  }

  .navbar .active {
    display: block;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    color: var(--text-color);
  }

  .navbar a:nth-child(1),
  .navbar a:nth-child(2) {
    color: var(--text-color);
  }

  .navbar a.active {
    color: var(--main-color);
  }

  .navbar a::before {
    display: none;
  }

  .home {
    padding: 0 2% 8rem;
    justify-content: center;
    text-align: center;
  }

  .home-content h3 {
    font-size: 2.6rem;
  }

  .home-content h1 {
    font-size: 5rem;
  }

  .home-content .social-media a {
    margin: 2.5rem 0.75rem 3rem;
  }

  .home .profession-container {
    left: 0;
    width: 100%;
    height: 100%;
  }

  .home .profession-container .profession-box {
    position: fixed;
    top: 20%;
    left: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
    display: none;
  }

  .home .profession-box .profession {
    padding: 0 13px;
    left: auto;
    transform-origin: 0;
  }

  .home .profession-box .profession:nth-child(1) {
    transform: rotate(-90deg) translate(-120px, -210px);
  }

  .home .profession-box .profession:nth-child(1) i {
    margin-right: 0;
  }

  .home .profession-box .profession:nth-child(2) {
    transform: rotate(0deg) translate(0, -335px);
  }

  .home .profession-box .profession:nth-child(3) {
    transform: rotate(90deg) translate(-115px, -450px);
  }

  .home .profession-box .profession:nth-child(4) {
    transform: rotate(180deg) translate(-220px, -335px);
  }

  .home .profession-box .circle {
    position: fixed;
    width: 670px;
    height: 670px;
    z-index: -1;
  }

  .home .profession-container .overlay {
    position: fixed;
    top: 70rem;
    left: 50%;
    right: 0;
    transform: rotate(90deg) translate(-50%, 50%) scaleY(3);
    border-width: 23.9rem;
  }

  .about {
    flex-direction: column-reverse;
    text-align: center;
    padding: 9rem 2rem;
  }

  .about-content h2 {
    text-align: center;
  }

  .about-img img {
    width: 70vw;
    margin-top: -2rem;
  }


  .experience,
  .experience-container .experience-box {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    row-gap: 2rem;
  }

  .experience-container .experience-box .experience-description p:nth-child(3) {
    text-align: justify;
  }

  .experience-description {
    padding: 0;
  }

  .services h2,
  .portfolio h2 {
    margin-bottom: 3rem;
  }

  .portfolio .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .testimonial-container .testimonial-wrapper {
    padding: 50px 0;
  }

  .testimonial-content .testimonial-slide {
    padding: 3rem 2rem;
  }

  .testimonial-box .swiper-button-next,
  .testimonial-box .swiper-button-prev {
    display: none;
  }

  .contact {
    padding: 18rem 2rem;
  }

  .footer {
    position: relative;
    display: flex;
    top: -18rem;
    padding: 0;
  }
}

@media (max-width: 617px) {
  .portfolio .portfolio-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 617px) {
  html {
    font-size: 50%;
  }

  #darkMode-icon {
    right: 6rem;
  }

  .home {
    padding: 0 3% 30rem;
  }

  .home .profession-box .profession:nth-child(1) {
    transform: rotate(-90deg) translate(-110px, -220px);
  }

  .home .profession-box .profession:nth-child(2) {
    transform: rotate(0deg) translate(5px, -335px);
  }

  .home .profession-box .profession:nth-child(3) {
    transform: rotate(90deg) translate(-105px, -440px);
  }

  .home .profession-box .profession:nth-child(4) {
    transform: rotate(180deg) translate(-210px, -335px);
  }

  .contact form .input-box input {
    width: 100%;
  }
}

@media (max-width: 365px) {
  #meno-icon {
    color: var(--main-color);
  }

  .home .home-content {
    margin-top: 8rem;
  }

  .work_img {
    display: none;
  }

  .about-img img {
    width: 90vw;
  }

  .testimonial-wrapper .testimonial-box {
    height: 47rem;
  }

  .testimonial-wrapper .testimonial-box {
    height: 60rem;
  }

  .testimonial-slide img {
    width: 38rem;
    height: 20rem;
  }

  .footer {
    flex-direction: column-reverse;
  }

  .footer p {
    text-align: center;
  }
}